body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.table_wrapper {
	margin: 20px auto;
	width: 650px;
	padding: 20px;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.13);
}

.table_wrapper-loader {
	display: none;
}

.scheduleInputWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 5px;
	height: 50px;
}

.scheduleInputWrapper h3 {
	margin: 0 10px;
}

.auth-form {
	width: 370px;
	height: 290px;
	padding: 25px;
	margin-top: 100px;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.13);
}

.fields-wrapper {
	margin-top: 50px;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.13);
}

.fields-wrapper-loader {
	margin-top: 190px;
}

#root {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.spinnerWorker {
	margin-top: 35px;
}

.schedule-buton {
	width: 70px;
}
