.btn:focus {
	outline: 0 !important;
	outline-color: transparent !important;
	outline-width: 0 !important;
	outline-style: none !important;
	box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.table_wrapper {
	margin: 20px auto;
	width: 700px;
	padding: 20px;
	border-radius: 5px;
	border-style: none;
	background-color: white;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.table_wrapper-loader {
	display: none;
}

.scheduleInputWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 5px;
	height: 50px;
}

.scheduleInputWrapper h3 {
	margin: 0 10px;
}

.auth-form {
	width: 370px;
	height: 290px;
	padding: 25px;
	margin-top: 100px;
	border-radius: 5px;
	border-style: none;
	background-color: white;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.fields-wrapper {
	display: flex;
	margin-top: 50px;
	padding: 8px;
	border-radius: 5px;
	border-style: none;
	background-color: white;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.exit-btn {
	margin-left: 20px;
}

.btn-exit {
	width: 100px;
}

.btn-delete {
	width: 35px;
}

.reset-btn {
	color: white;
}

.fields-wrapper-loader {
	margin-top: 190px;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.spinnerWorker {
	margin-top: 35px;
}

.schedule-buton {
	width: 100px;
}

.button-auth {
	display: flex;
	width: 250px;
	height: 20px;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.btn-auth-wrapper {
	display: flex;
	justify-content: center;
}
